@charset "UTF-8";
:root {
  --dark: #333;
  --white: #FFF;
  --purple: #663399;
  --red: #CC3333;
  --lightgrey: #f4f4f4;
  --font-oswald: "Oswald", sans-serif;
  --font-lato: "Lato", sans-serif;
  --linear-gradient: linear-gradient(to left , #663399, #CC3333);
}

.tags .tag-name {
  background-color: var(--red);
  color: white;
  font-size: 18px;
  width: fit-content;
  padding: 3px 7px;
  text-transform: lowercase;
  font-family: var(--font-lato);
  margin-bottom: 38px;
  margin-top: 40px;
}
.tags .name-categoria.tag:after {
  display: none;
}

.categories .name-categoria.title {
  font-size: 26px;
}
.categories .description-cat {
  margin-bottom: 48px;
}
.categories .description-cat p {
  font-size: 16px;
  line-height: 20px;
}

.analises p.subtitle {
  margin-bottom: 5px;
}
.analises p {
  font-size: 16px;
}

html, body {
  font-family: var(--font-lato);
  color: #333333;
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
}
html.overflow-hidden, body.overflow-hidden {
  overflow-y: hidden;
}

a {
  cursor: pointer;
}

strong, b {
  font-weight: 600 !important;
}

body {
  font-family: var(--font-lato);
}
body a, body a:hover {
  color: unset;
  text-decoration: none;
}

p {
  font-size: 18px;
  font-family: var(--font-lato);
}
p.subtitle {
  font-size: 16px;
  line-height: 22px;
}
p.small {
  font-size: 14px;
}
p.ex-small {
  font-size: 12px;
}

h1 {
  font-family: var(--font-oswald);
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
}
h1.big {
  font-size: 50px;
}
h1.bigger {
  font-size: 60px;
}

h2 {
  font-family: var(--font-oswald);
  font-size: 34px;
}

h3 {
  font-family: var(--font-oswald);
  font-size: 26px;
}
@media screen and (max-width: 1199px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-family: var(--font-oswald);
  font-size: 22px;
}

h5 {
  font-family: var(--font-oswald);
  font-size: 24px;
}
@media screen and (max-width: 1199px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-family: var(--font-oswald);
  font-size: 18px;
}

h1.lato, h2.lato, h3.lato, h4.lato, h5.lato, h6.lato {
  font-family: var(--font-lato);
}

span {
  font-size: 12px;
}
span.big {
  font-size: 16px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

.p-top {
  padding-top: 260px;
}
@media screen and (max-width: 989px) {
  .p-top {
    padding-top: 90px;
  }
}

.bg-purple {
  background-color: var(--purple);
}

.facebook span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/facebook.svg) no-repeat center;
  mask: url(../images/facebook.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.twitter span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/twitter.svg) no-repeat center;
  mask: url(../images/twitter.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.instagram span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/instagram.svg) no-repeat center;
  mask: url(../images/instagram.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.whatsapp span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/whatsapp.svg) no-repeat center;
  mask: url(../images/whatsapp.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.telegram span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/telegram.svg) no-repeat center;
  mask: url(../images/telegram.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.youtube span {
  width: 18px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/youtube.svg) no-repeat center;
  mask: url(../images/youtube.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
  border-radius: 4px;
}

.line-gradient {
  background: var(--linear-gradient);
  width: 100%;
  height: 2px;
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

.page-soon {
  overflow: hidden;
}
.page-soon .img-soon {
  width: 38%;
  margin-top: 110px;
}
@media screen and (max-width: 1199px) {
  .page-soon .img-soon {
    margin-top: 20%;
    width: 65%;
  }
}
.page-soon p {
  color: #663399;
  font-size: 24px;
  font-weight: 700;
}
.page-soon .text-right {
  margin-top: 80px;
  padding-right: 10%;
}
@media screen and (max-width: 1199px) {
  .page-soon .text-right {
    margin-top: 80px;
    padding-right: 30px;
  }
}

.wp-block-image figcaption {
  margin-top: 0px !important;
  font-size: 14px;
  margin-bottom: 1em;
}

.button {
  padding: 6px 15px;
  margin-top: 13px;
  margin-right: 30px;
  background-color: purple;
}
@media screen and (max-width: 768px) {
  .button {
    margin-top: 20px;
    margin-right: 20px;
  }
}

.social {
  padding-top: 4px;
}
.social a {
  display: inline-block;
}

.social-lang {
  height: 32px;
}
.social-lang .social {
  display: inline;
  position: absolute;
  top: 4px;
  padding-left: 10px;
  padding-top: 0px;
}

.menu-principal {
  text-align: center;
}
.menu-principal.scroll .logo-menu {
  height: 0px;
}
.menu-principal.scroll .logo-menu img {
  height: 0px;
}
.menu-principal.scroll .logo-redu-menu {
  width: 55px;
  margin-right: 20px;
  margin-top: 1px;
  display: inline-block;
  transition: width 0.5s;
}

.logo-menu {
  height: 86px;
  transition: height 1s;
}
.logo-menu img {
  margin-top: 21px;
  transition: height 0.5s;
  height: 66px;
}
@media screen and (max-width: 1199px) {
  .logo-menu img {
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .logo-menu {
    height: 40px;
  }
}

.logo-redu-menu {
  width: 0px;
  transition: width 0.5s;
}

.list-menu {
  height: 62px;
  padding: 17px 15px;
}
.list-menu ul li {
  display: inline-block;
  margin-right: 24px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.list-menu ul li:last-of-type {
  margin-right: 0px;
}
.list-menu ul.sub-menu {
  display: none;
  position: absolute;
  padding: 0px;
  text-align: left;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid var(--red);
  border-left: 1px solid var(--red);
  border-right: 1px solid var(--red);
}
.list-menu ul.sub-menu li.menu-item {
  display: block;
  margin-right: 0px;
  border-bottom: 1px solid var(--red);
  padding: 2px 7px;
}
.list-menu ul.sub-menu li.menu-item:last-of-type {
  border-bottom: 0px;
}
.list-menu ul.sub-menu li.menu-item a {
  font-size: 16px;
}

.list-tags {
  text-align: center;
}
.list-tags ul {
  margin-bottom: 7px;
}
.list-tags ul li {
  display: inline-block;
  margin-right: 24px;
  font-size: 14px;
}
.list-tags ul li:last-of-type {
  margin-right: 0px;
}
.list-tags a {
  text-transform: lowercase;
  font-size: 14px;
  color: var(--purple);
}
.list-tags a:hover {
  color: var(--purple);
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  z-index: 11;
}
header a {
  color: black;
}
header a:hover {
  opacity: 0.8;
}

.b-bottom::after {
  content: "";
  display: block;
  background: var(--linear-gradient);
  height: 1px;
  width: 100%;
}

.menu-language {
  display: inline-block;
  margin: 0px;
}
.menu-language li {
  display: inline-block;
  margin-left: 5px;
}
.menu-language a {
  font-size: 12px;
  color: var(--purple);
}

header ::marker {
  color: #fff;
}

.down span {
  width: 8px;
  height: 8px;
  background-color: var(--purple);
  -webkit-mask: url(../images/down.svg) no-repeat center;
  mask: url(../images/down.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

li.menu-item-has-children::after {
  content: "";
  background-image: url("../images/down.svg");
  width: 8px;
  height: 6px;
  display: inline-block;
  margin-left: 6px;
}
@media screen and (max-width: 1199px) {
  li.menu-item-has-children::after {
    position: absolute;
    top: 18px;
    left: 67px;
  }
}

.button-doe {
  padding: 2px 13px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  background-color: var(--purple);
  margin-left: 10px;
  border: 0px;
}
.button-doe a {
  color: #fff;
}
.button-doe a:hover {
  color: #fff;
}
ul.menu-menu-primario-container {
  display: inline-block;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--purple);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--purple);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu-mobile {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 25px;
  padding-top: 108px;
  right: -100px;
  background: white;
  border: 1px solid var(--liner-gradient);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.17);
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.17);
}

#menu-mobile li {
  padding: 5px 0;
  font-size: 18px;
  position: relative;
}

#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

.mobile-menu {
  height: 60px;
  background-color: white;
}
.mobile-menu ul.sub-menu {
  display: none;
}
.mobile-menu .menu-language li {
  display: block;
  font-size: 16px;
  margin-left: 0px;
  padding: 0px;
  line-height: 18px;
}
.mobile-menu .menu-language a {
  font-size: 16px;
  color: black;
}

#menu-mobile .line-gradient {
  margin-top: 5px;
  margin-bottom: 5px;
}

.botao-secundario {
  padding: 2px 13px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  background-color: var(--purple);
  margin-left: 10px;
  border: 0px;
  color: #fff;
}
.botao-secundario a {
  color: #fff;
}
.botao-secundario a:hover {
  color: #fff;
  cursor: pointer;
}
footer {
  padding: 30px 0;
  background-color: var(--purple);
  color: #fff;
}
@media screen and (max-width: 1199px) {
  footer {
    padding: 30px 0 15px;
  }
}
footer .menu li.current-menu-item a {
  font-weight: 200;
  border-bottom: 1px solid white;
}
footer .menu li a {
  font-weight: 200;
}
footer .logo {
  height: 80px;
  margin-bottom: 57px;
  display: block;
}
footer .facebook span, footer .instagram span, footer .twitter span, footer .whatsapp span, footer .telegram span, footer .youtube span {
  background-color: #fff;
}
footer .menu-footer li a {
  color: #fff;
  font-family: var(--font-oswald);
  font-size: 16px;
}
@media screen and (max-width: 1199px) {
  footer p.small {
    margin-bottom: 0px;
  }
}

.relacionados h3 {
  margin-bottom: 82px;
}
.relacionados p.linha-fina {
  padding-left: 27px;
}
.relacionados p.name-categoria::after {
  display: none;
}
.relacionados .highlight::after {
  margin-top: 12px;
}

.card-relacionados {
  border-left: 11px solid var(--red);
  padding-left: 20px;
}

.wrap-newsletter {
  margin-top: 64px;
  margin-bottom: 82px;
}
.wrap-newsletter input {
  width: 300px;
  border-radius: 0px;
  border: 0px solid var(--dark);
  border-bottom: 1px solid var(--purple);
  margin-bottom: 27px;
}
.wrap-newsletter button {
  border: 0px;
  border-radius: 3px;
  background-color: var(--purple);
  color: white;
  padding: 4px 13px;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 49px;
}
.wrap-newsletter .element-left {
  margin-top: 77px;
}
.wrap-newsletter .element-left::after {
  content: "";
  display: block;
  background-image: url(../images/element-left.png);
  width: 175px;
  height: 175px;
  margin-top: -113px;
  margin-left: -81px;
}
@media screen and (max-width: 1199px) {
  .wrap-newsletter .element-left::after {
    display: none;
    background-image: url(../images/element-left-sm.png);
  }
}
.wrap-newsletter .element-right::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/element-right.png);
  width: 175px;
  height: 175px;
  float: right;
  margin-bottom: -92px;
  margin-right: -33px;
}
@media screen and (max-width: 1199px) {
  .wrap-newsletter .element-right::before {
    display: none;
    background-image: url(../images/element-right-sm.png);
  }
}

.element-right input.tnp-name, .element-right input.tnp-email {
  background: none !important;
  border-bottom: 1px solid var(--purple) !important;
  width: 85% !important;
}
@media screen and (max-width: 1199px) {
  .element-right input.tnp-name, .element-right input.tnp-email {
    width: 100% !important;
  }
}
.element-right form {
  margin-top: -30px;
}
.element-right .tnp-submit {
  border: 0px;
  border-radius: 3px;
  background-color: var(--purple) !important;
  color: white;
  padding: 4px 13px;
  text-transform: uppercase;
  font-size: 14px;
  float: right;
  margin-right: 52px !important;
}
@media screen and (max-width: 1199px) {
  .element-right .tnp-submit {
    width: auto !important;
    margin-right: 0px !important;
  }
}

.home-regions {
  background-color: var(--lightgrey);
  margin-top: 90px;
  margin-bottom: 90px;
  padding-top: 78px;
  padding-bottom: 36px;
}
@media screen and (max-width: 1199px) {
  .home-regions {
    margin-top: 0px;
  }
}
.home-regions h2 {
  margin-bottom: 81px;
}
@media screen and (max-width: 1199px) {
  .home-regions h2 {
    margin-bottom: 36px;
  }
}

.col-reg {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.box-reg .img-reg-home {
  height: 129px;
  width: 100%;
  margin-bottom: 7px;
}

.cat-reg {
  float: right;
  margin-top: 7px;
  margin-right: -7px;
  background-color: var(--red);
  color: var(--white);
  padding: 2px 5px;
  text-transform: uppercase;
}

.slide-regiao {
  width: 20%;
  height: 300px;
}
@media screen and (max-width: 1199px) {
  .slide-regiao {
    width: 70%;
    height: 250px;
  }
}

.slider-regioes {
  width: 100%;
  height: 300px;
}
.slider-regioes .flickity-page-dots .dot {
  background: var(--purple);
}
.slider-regioes .flickity-page-dots .dot.is-selected {
  opacity: 1;
}
.slider-regioes .flickity-page-dots {
  top: -72px;
  left: 15px;
  bottom: unset;
  text-align: left;
  color: var(--purple);
}
@media screen and (max-width: 1199px) {
  .slider-regioes .flickity-page-dots {
    display: none;
  }
}
.slider-regioes .flickity-button:disabled {
  opacity: 0.5;
}
.slider-regioes .flickity-prev-next-button.previous {
  right: 40px;
  left: auto;
}
.slider-regioes .flickity-prev-next-button {
  top: -95px;
  width: 31px;
  height: 31px;
  border-radius: 2px;
  right: 0px;
}
@media screen and (max-width: 1199px) {
  .slider-regioes .flickity-prev-next-button {
    display: none;
  }
}
.slider-regioes .flickity-button {
  background: var(--purple);
  color: var(--white);
  z-index: 5;
}
.slider-regioes .flickity-prev-next-button.next {
  right: 0px;
}

.chapeu {
  margin-bottom: 24px;
}
.chapeu .name-categoria {
  font-size: 18px;
  font-weight: 600;
}

.cabeca {
  margin-top: 55px;
}
.cabeca h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.cabeca h5 {
  font-weight: 500;
  margin-bottom: 34px;
}

.single-thumb {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.tags-article {
  background-color: var(--red);
  width: fit-content;
  padding: 0px 10px 3px 5px;
  color: white;
  display: inline-block;
}
.tags-article::hover {
  opacity: 0.7;
}
.tags-article a {
  color: white;
}
.tags-article a::hover {
  color: white;
}
.tags-article p {
  display: inline;
  padding-left: 5px;
  text-transform: lowercase;
}
.tags-article p:after {
  content: "|";
  display: inline-block;
  color: white;
  padding-left: 10px;
}
.tags-article p:last-of-type {
  padding-right: 0px;
}
.tags-article p:last-of-type:after {
  display: none;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: var(--font-lato);
}
article p {
  font-size: 18px;
}
article p a {
  border-bottom: 2px solid var(--red);
}
article p a:hover {
  color: var(--red) !important;
}
article blockquote {
  margin-top: 40px;
  margin-bottom: 32px;
  position: relative;
  width: 85%;
  position: relative;
}
article blockquote:before {
  content: " “ ";
  display: block;
  font-size: 52px;
  font-family: var(--font-lato);
  color: var(--red);
  position: absolute;
  top: -31px;
  left: -24px;
}
article blockquote:after {
  content: " ” ";
  display: block;
  font-size: 52px;
  font-family: var(--font-lato);
  color: var(--red);
  position: absolute;
  bottom: -49px;
  right: -23px;
}
article blockquote p {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
}
article blockquote span {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
}
article .author p {
  font-size: 14px;
  margin-bottom: 0px;
}

blockquote {
  margin: 40px auto 22px;
}

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: 18px !important;
}

.social-vert .social a {
  display: block;
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .social-vert .social a {
    display: inline-block;
  }
}

.social-right {
  float: right;
}

.wrap-article {
  margin-top: 36px;
  margin-bottom: 110px;
}

.infos-article {
  position: relative;
}
.infos-article .social-right {
  position: absolute;
  top: -6px;
  right: 0px;
}
@media screen and (max-width: 1199px) {
  .infos-article .social-right {
    left: 0px;
    margin-top: 10px;
    top: auto;
    right: auto;
  }
}

.img-leg {
  width: fit-content;
  margin: auto;
}
.img-leg .small {
  text-align: left;
}

.bg-grey {
  background-color: #f4f4f4;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1199px) {
  .img-highlight {
    margin-bottom: 20px;
  }
}

.img-hero-slide {
  height: 365px;
}
@media screen and (max-width: 1199px) {
  .img-hero-slide {
    height: 220px;
  }
}

.hero {
  margin-top: 50px;
  margin-bottom: 90px;
}
@media screen and (max-width: 1199px) {
  .hero {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.hero .carousel.hero-slide .flickity-page-dots {
  width: auto;
  bottom: 0px;
  left: 50%;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .hero .carousel.hero-slide .flickity-page-dots {
    left: 636px;
  }
}
@media screen and (max-width: 1199px) {
  .hero .carousel.hero-slide .flickity-page-dots {
    width: 100%;
    text-align: center;
    left: auto;
    bottom: 13px;
  }
}
.hero .carousel.hero-slide .flickity-page-dots li.dot {
  background: var(--red);
}
.hero .carousel.hero-slide .carousel-cell {
  width: 100%;
  height: 356px;
}
@media screen and (max-width: 1199px) {
  .hero .carousel.hero-slide .carousel-cell {
    height: 630px;
    background-color: white;
  }
}
.hero .carousel.hero-slide button {
  display: none;
}
@media screen and (max-width: 1199px) {
  .hero .carousel.hero-slide .p-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .bg-red-mobile {
    background-color: rgba(204, 51, 51, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.box-cats-home {
  margin-bottom: 75px;
}
.box-cats-home .img-cats-home {
  height: 195px;
  margin-bottom: 11px;
}
.box-cats-home h4 {
  margin-top: 15px;
  margin-bottom: 11px;
}

.flickity-page-dots li.dot {
  border-radius: 0px;
  width: 11px;
  height: 11px;
  margin-right: 10px;
  margin-left: 0px;
}

.name-categoria a span:hover {
  color: var(--red);
}
.name-categoria a:hover {
  color: var(--red);
}

.name-categoria {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 1199px) {
  .name-categoria {
    margin-top: 6px;
  }
}
.name-categoria span {
  font-size: 14px;
  font-weight: 500;
}
.name-categoria span.date {
  font-size: 12px;
}
.name-categoria::after {
  content: "";
  display: block;
  width: 49px;
  height: 7px;
  background-color: var(--red);
  margin-top: 11px;
}
.name-categoria.small::after {
  content: "";
  display: block;
  width: 47px;
  height: 3px;
  background-color: var(--red);
  margin-top: 7px;
  margin-bottom: 11px;
}

.highlight::before {
  content: "";
  display: block;
  -webkit-mask: url(../images/highlight-left.svg) no-repeat center;
  mask: url(../images/highlight-left.svg) no-repeat center;
  background-color: var(--red);
  width: 40px;
  height: 40px;
  margin-left: -30px;
  float: left;
  margin-top: -17px;
}
@media screen and (max-width: 1199px) {
  .highlight::before {
    margin-left: 0px;
    -webkit-mask: url(../images/highlight-left-sm.svg) no-repeat center;
    mask: url(../images/highlight-left-sm.svg) no-repeat center;
  }
}
.highlight::after {
  content: "";
  display: block;
  -webkit-mask: url(../images/highlight-right.svg) no-repeat center;
  mask: url(../images/highlight-right.svg) no-repeat center;
  background-color: var(--red);
  width: 40px;
  height: 40px;
  float: right;
  margin-right: -30px;
  margin-top: 9px;
}
@media screen and (max-width: 1199px) {
  .highlight::after {
    -webkit-mask: url(../images/highlight-right-sm.svg) no-repeat center;
    mask: url(../images/highlight-right-sm.svg) no-repeat center;
    margin-right: 0px;
  }
}

.line-gradient.more {
  width: 220px;
}
.line-gradient.more-home {
  height: 1px;
  width: 154px;
}
.line-gradient.more-home:last-of-type {
  display: none;
}

@media screen and (max-width: 1199px) {
  .read-more {
    margin-bottom: 36px;
  }
}
.read-more h4 {
  margin: 17px 0px;
}
.read-more h6 {
  text-transform: uppercase;
}

.slide-video {
  width: 100%;
}
.slide-video h3 {
  position: absolute;
  bottom: 15px;
  left: 22px;
  color: white;
}

.slider-videos {
  margin-top: 58px;
  margin-bottom: 60px;
  position: relative;
}
.slider-videos .flickity-page-dots {
  top: -47px;
  bottom: unset;
  text-align: left;
  color: var(--purple);
}
.slider-videos .flickity-page-dots .dot {
  background: var(--purple);
}
.slider-videos .flickity-button {
  background: var(--purple);
  color: var(--white);
  z-index: 5;
}
.slider-videos .flickity-button:hover {
  background: var(--purple);
  opacity: 50%;
}
.slider-videos .flickity-prev-next-button {
  top: -75px;
  width: 31px;
  height: 31px;
  border-radius: 2px;
  right: 0px;
}
.slider-videos .flickity-prev-next-button.next {
  right: 0px;
}
.slider-videos .flickity-prev-next-button.previous {
  right: 40px;
  left: auto;
}
.slider-videos .flickity-button:disabled {
  opacity: 0.5;
}

.title-watch {
  margin-top: 47px;
}

.player-video {
  background-image: url(../images/player.png);
  opacity: 0.7;
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 42px);
  width: 83px;
  height: 83px;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .player-video {
    background-image: url(../images/player-sm.png);
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 61px;
    height: 61px;
  }
}

.img-video-home {
  width: 100%;
  height: auto;
}

.donation h2 {
  text-align: center;
}
.donation button {
  border: 0px;
  border-radius: 3px;
  padding: 4px 12px;
  background-color: var(--purple);
  color: white;
  margin-top: 37px;
  cursor: pointer;
}

.p-donation {
  padding: 77px 0px;
}

a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {
  opacity: 0.8;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.modal-dialog {
  max-width: 700px;
}
.modal-dialog iframe {
  width: 664px;
  height: 373.5px;
}
@media screen and (max-width: 1199px) {
  .modal-dialog iframe {
    width: 325px;
    height: 182.81px;
  }
}

.modal-content {
  background-color: transparent;
  border: 0px;
}

.modal-header {
  border: 0px;
}

.modal-footer {
  border: 0px;
  justify-content: flex-start;
}

button.close span {
  font-size: 36px;
  font-weight: 600;
  color: white;
}

/*# sourceMappingURL=style.css.map */
