@charset "UTF-8";
:root {
  --dark: #333;
  --white: #FFF;
  --purple: #663399;
  --red: #CC3333;
  --font-oswald: "Oswald", sans-serif;
  --font-lato: "Lato", sans-serif;
  --linear-gradient: linear-gradient(to left , #663399, #CC3333);
}

.tags .tag-name {
  background-color: var(--red);
  color: white;
  font-size: 18px;
  width: fit-content;
  padding: 3px 7px;
  text-transform: lowercase;
  font-family: var(--font-lato);
  margin-bottom: 38px;
  margin-top: 40px;
}

.categories .name-categoria {
  font-size: 26px;
  margin-top: 40px;
}
.categories .description-cat {
  margin-bottom: 38px;
}

html, body {
  font-family: var(--font-lato);
  color: #333333;
  font-size: 18px;
}
html.overflow-hidden, body.overflow-hidden {
  overflow-y: hidden;
}

a {
  cursor: pointer;
}

strong, b {
  font-weight: 600 !important;
}

body {
  font-family: var(--font-lato);
}
body a, body a:hover {
  color: unset;
  text-decoration: none;
}

p {
  font-size: 18px;
  font-family: var(--font-lato);
}
p.subtitle {
  font-size: 16px;
  line-height: 22px;
}
p.small {
  font-size: 14px;
}
p.ex-small {
  font-size: 12px;
}

h1 {
  font-family: var(--font-oswald);
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 15px;
}
h1.big {
  font-size: 50px;
}
h1.bigger {
  font-size: 60px;
}

h2 {
  font-family: var(--font-oswald);
  font-size: 34px;
}

h3 {
  font-family: var(--font-oswald);
  font-size: 26px;
}

h4 {
  font-family: var(--font-oswald);
  font-size: 22px;
}

h5 {
  font-family: var(--font-oswald);
  font-size: 24px;
}

h6 {
  font-family: var(--font-oswald);
  font-size: 18px;
}

h1.lato, h2.lato, h3.lato, h4.lato, h5.lato, h6.lato {
  font-family: var(--font-lato);
}

span {
  font-size: 12px;
}
span.big {
  font-size: 16px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

.p-top {
  padding-top: 216px;
}

.bg-purple {
  background-color: var(--purple);
}

.facebook span {
  width: 16px;
  height: 16px;
  background-color: #713080;
  -webkit-mask: url(../images/facebook.svg) no-repeat center;
  mask: url(../images/facebook.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.twitter span {
  width: 16px;
  height: 16px;
  background-color: #713080;
  -webkit-mask: url(../images/twitter.svg) no-repeat center;
  mask: url(../images/twitter.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.instagram span {
  width: 16px;
  height: 16px;
  background-color: #713080;
  -webkit-mask: url(../images/instagram.svg) no-repeat center;
  mask: url(../images/instagram.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.whatsapp span {
  width: 16px;
  height: 16px;
  background-color: #713080;
  -webkit-mask: url(../images/whatsapp.svg) no-repeat center;
  mask: url(../images/whatsapp.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.telegram span {
  width: 16px;
  height: 16px;
  background-color: #713080;
  -webkit-mask: url(../images/telegram.svg) no-repeat center;
  mask: url(../images/telegram.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.line-gradient {
  background: var(--linear-gradient);
  width: 100%;
  height: 2px;
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

.button {
  padding: 6px 15px;
  margin-top: 13px;
  margin-right: 30px;
  background-color: purple;
}
@media screen and (max-width: 768px) {
  .button {
    margin-top: 20px;
    margin-right: 20px;
  }
}

.social {
  padding-top: 4px;
}
.social a {
  display: inline-block;
}

.menu-principal {
  text-align: center;
}
.menu-principal.scroll .logo-menu {
  height: 0px;
}
.menu-principal.scroll .logo-menu img {
  height: 0px;
}
.menu-principal.scroll .logo-redu-menu {
  width: 28px;
  margin-right: 24px;
  margin-top: -13px;
  display: inline-block;
  transition: width 0.5s;
}

.logo-menu {
  height: 86px;
  transition: height 1s;
}
.logo-menu img {
  margin-top: 21px;
  transition: height 0.5s;
  height: 66px;
}

.logo-redu-menu {
  width: 0px;
  transition: width 0.5s;
}

.list-menu {
  height: 62px;
  padding: 17px 15px;
}
.list-menu ul li {
  display: inline-block;
  margin-right: 24px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-oswald);
}
.list-menu ul li:last-of-type {
  margin-right: 0px;
}
.list-menu ul.sub-menu {
  display: none;
  position: absolute;
  padding: 0px;
  text-align: left;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid var(--red);
  border-left: 1px solid var(--red);
  border-right: 1px solid var(--red);
}
.list-menu ul.sub-menu li.menu-item {
  display: block;
  margin-right: 0px;
  border-bottom: 1px solid var(--red);
  padding: 2px 7px;
}
.list-menu ul.sub-menu li.menu-item:last-of-type {
  border-bottom: 0px;
}
.list-menu ul.sub-menu li.menu-item a {
  font-size: 16px;
}

.list-tags {
  text-align: center;
}
.list-tags ul {
  margin-bottom: 7px;
}
.list-tags ul li {
  display: inline-block;
  margin-right: 24px;
  font-size: 14px;
}
.list-tags ul li:last-of-type {
  margin-right: 0px;
}
.list-tags a {
  text-transform: lowercase;
  font-size: 14px;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  z-index: 11;
}
header a {
  color: black;
}
header a:hover {
  opacity: 0.8;
}

.b-bottom::after {
  content: "";
  display: block;
  background: var(--linear-gradient);
  height: 1px;
  width: 100%;
}

.menu-language {
  display: inline-block;
  margin: 0px;
}
.menu-language li {
  display: inline-block;
  margin-left: 5px;
}

header ::marker {
  color: #fff;
}

.down span {
  width: 8px;
  height: 8px;
  background-color: #713080;
  -webkit-mask: url(http://localhost:8000/wp-content/themes/sof-mmm/images/down.svg) no-repeat center;
  mask: url(http://localhost:8000/wp-content/themes/sof-mmm/images/down.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

li.menu-item-has-children::after {
  content: "";
  background-image: url("http://localhost:8000/wp-content/themes/sof-mmm/images/down.svg");
  width: 8px;
  height: 6px;
  display: inline-block;
  margin-left: 6px;
}

.button-doe {
  padding: 2px 13px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  background-color: var(--purple);
  margin-left: 10px;
}
.button-doe a {
  color: #fff;
}
.button-doe a:hover {
  color: #fff;
}
ul.menu-menu-primario-container {
  display: inline-block;
}

footer {
  padding: 30px 0;
  background-color: var(--purple);
  color: #fff;
}
footer .menu li.current-menu-item a {
  font-weight: 200;
  border-bottom: 1px solid white;
}
footer .menu li a {
  font-weight: 200;
}
footer .logo {
  height: 80px;
  margin-bottom: 57px;
  display: block;
}
footer .facebook span, footer .instagram span, footer .twitter span, footer .whatsapp span, footer .telegram span {
  background-color: #fff;
}
footer .menu-footer li a {
  color: #fff;
  font-family: var(--font-oswald);
  font-size: 16px;
}

.relacionados h3 {
  margin-bottom: 82px;
}
.relacionados p.linha-fina {
  padding-left: 27px;
}
.relacionados p.name-categoria::after {
  display: none;
}

.card-relacionados {
  border-left: 11px solid var(--red);
  padding-left: 20px;
}

.wrap-newsletter {
  margin-top: 64px;
  margin-bottom: 82px;
}
.wrap-newsletter input {
  width: 300px;
  border-radius: 0px;
  border: 1px solid var(--dark);
  margin-bottom: 27px;
}
.wrap-newsletter button {
  border: 0px;
  border-radius: 3px;
  background-color: var(--purple);
  color: white;
  padding: 4px 13px;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 49px;
}
.wrap-newsletter .element-left {
  margin-top: 77px;
}
.wrap-newsletter .element-left::after {
  content: "";
  display: block;
  background-image: url(../images/element-left.png);
  width: 175px;
  height: 175px;
  margin-top: -113px;
  margin-left: -81px;
}
.wrap-newsletter .element-right::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/element-right.png);
  width: 175px;
  height: 175px;
  float: right;
  margin-bottom: -92px;
  margin-right: -33px;
}

.home-regions {
  background-color: var(--lightgrey);
  margin-top: 90px;
  margin-bottom: 90px;
  padding-top: 78px;
  padding-bottom: 78px;
}
.home-regions h2 {
  margin-bottom: 81px;
}

.col-reg {
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
}

.box-reg .img-reg-home {
  height: 129px;
  width: 100%;
  margin-bottom: 7px;
}

.cat-reg {
  float: right;
  margin-top: 7px;
  margin-right: -7px;
  background-color: var(--red);
  color: var(--white);
  padding: 2px 5px;
  text-transform: uppercase;
}

.chapeu {
  margin-top: 40px;
  margin-bottom: 24px;
}
.chapeu .name-categoria {
  font-size: 18px;
  font-weight: 600;
}

.cabeca {
  margin-top: 55px;
}
.cabeca h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.cabeca h5 {
  font-weight: 500;
  margin-bottom: 34px;
}

.single-thumb {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.tags-article {
  background-color: var(--red);
  width: fit-content;
  padding: 0px 10px 3px 5px;
  color: white;
}
.tags-article::hover {
  opacity: 0.7;
}
.tags-article a {
  color: white;
}
.tags-article a::hover {
  color: white;
}
.tags-article p {
  display: inline;
  padding-left: 5px;
  text-transform: lowercase;
}
.tags-article p:after {
  content: "|";
  display: inline-block;
  color: white;
  padding-left: 10px;
}
.tags-article p:last-of-type {
  padding-right: 0px;
}
.tags-article p:last-of-type:after {
  display: none;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: var(--font-lato);
}
article p {
  font-size: 18px;
}
article p a {
  border-bottom: 2px solid var(--red);
}
article p a:hover {
  color: var(--red) !important;
}
article blockquote {
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 22px;
}
article blockquote cite {
  position: relative;
}
article blockquote cite:before {
  content: " “ ";
  display: block;
  font-size: 52px;
  font-family: var(--font-lato);
  color: var(--red);
  position: absolute;
  top: -31px;
  left: -24px;
}
article blockquote cite:after {
  content: " ” ";
  display: block;
  font-size: 52px;
  font-family: var(--font-lato);
  color: var(--red);
  position: absolute;
  bottom: -49px;
  right: -23px;
}
article .author p {
  font-size: 14px;
  margin-bottom: 0px;
}

.social-vert .social a {
  display: block;
  margin-bottom: 9px;
}

.social-right {
  float: right;
}

.wrap-article {
  margin-top: 36px;
  margin-bottom: 110px;
}

.infos-article {
  position: relative;
}
.infos-article .social-right {
  position: absolute;
  top: -6px;
  right: 0px;
}

.bg-grey {
  background-color: #f4f4f4;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-hero-slide {
  height: 365px;
}

.hero {
  margin-top: 50px;
  margin-bottom: 90px;
}
.hero .carousel.hero-slide .flickity-page-dots {
  width: auto;
  bottom: 0px;
  left: 533px;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .hero .carousel.hero-slide .flickity-page-dots {
    left: 636px;
  }
}
.hero .carousel.hero-slide .flickity-page-dots li.dot {
  background: var(--red);
}
.hero .carousel.hero-slide .carousel-cell {
  width: 100%;
  height: 356px;
}
.hero .carousel.hero-slide button {
  display: none;
}

.box-cats-home {
  margin-bottom: 75px;
}
.box-cats-home .img-cats-home {
  height: 195px;
  margin-bottom: 11px;
}
.box-cats-home h4 {
  margin-top: 15px;
  margin-bottom: 11px;
}

.flickity-page-dots li.dot {
  border-radius: 0px;
  width: 11px;
  height: 11px;
  margin-right: 10px;
  margin-left: 0px;
}

.name-categoria {
  font-size: 14px;
  font-weight: 500;
}
.name-categoria span {
  font-size: 14px;
  font-weight: 500;
}
.name-categoria span.date {
  font-size: 12px;
}
.name-categoria::after {
  content: "";
  display: block;
  width: 49px;
  height: 7px;
  background-color: var(--red);
  margin-top: 11px;
}
.name-categoria.small::after {
  content: "";
  display: block;
  width: 47px;
  height: 3px;
  background-color: var(--red);
  margin-top: 7px;
  margin-bottom: 11px;
}

.highlight::before {
  content: "";
  display: block;
  -webkit-mask: url(http://localhost:8000/wp-content/themes/sof-mmm/images/highlight-left.svg) no-repeat center;
  mask: url(http://localhost:8000/wp-content/themes/sof-mmm/images/highlight-left.svg) no-repeat center;
  background-color: var(--red);
  width: 40px;
  height: 40px;
  margin-left: -30px;
  float: left;
  margin-top: -17px;
}
.highlight::after {
  content: "";
  display: block;
  -webkit-mask: url(http://localhost:8000/wp-content/themes/sof-mmm/images/highlight-right.svg) no-repeat center;
  mask: url(http://localhost:8000/wp-content/themes/sof-mmm/images/highlight-right.svg) no-repeat center;
  background-color: var(--red);
  width: 40px;
  height: 40px;
  float: right;
  margin-right: -30px;
  margin-top: 12px;
}

.highlight.lato {
  font-size: 26px;
}

.line-gradient.more {
  width: 220px;
}
.line-gradient.more-home {
  height: 1px;
  width: 154px;
}
.line-gradient.more-home:last-of-type {
  display: none;
}

.read-more h4 {
  margin: 17px 0px;
}

.slide-video {
  width: 100%;
}
.slide-video h3 {
  position: absolute;
  bottom: 15px;
  left: 22px;
  color: white;
}

.slider-videos {
  margin-top: 58px;
  margin-bottom: 60px;
  position: relative;
}
.slider-videos .flickity-page-dots {
  top: -47px;
  bottom: unset;
  text-align: left;
  color: var(--purple);
}
.slider-videos .flickity-page-dots .dot {
  background: var(--purple);
}
.slider-videos .flickity-button {
  background: var(--purple);
  color: var(--white);
  z-index: 5;
}
.slider-videos .flickity-button:hover {
  background: var(--purple);
  opacity: 50%;
}
.slider-videos .flickity-prev-next-button {
  top: -75px;
  width: 31px;
  height: 31px;
  border-radius: 2px;
  right: 0px;
}
.slider-videos .flickity-prev-next-button.next {
  right: 0px;
}
.slider-videos .flickity-prev-next-button.previous {
  right: 40px;
  left: auto;
}
.slider-videos .flickity-button:disabled {
  opacity: 0.5;
}

.title-watch {
  margin-top: 47px;
}

.player-video {
  background-image: url(../images/player.png);
  opacity: 0.7;
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 42px);
  width: 83px;
  height: 83px;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
}

.img-video-home {
  height: 474px;
  width: 100%;
  filter: grayscale(100%);
}

.donation h2 {
  text-align: center;
}
.donation button {
  border: 0px;
  border-radius: 3px;
  padding: 4px 12px;
  background-color: var(--purple);
  color: white;
  margin-top: 37px;
  cursor: pointer;
}

.p-donation {
  padding: 77px 0px;
}

/*# sourceMappingURL=style.css.map */
