.chapeu {
  margin-bottom: 24px;

  .name-categoria {
    font-size: 18px;
    font-weight: 600;
  }
}

.cabeca {
  margin-top: 55px;
  h2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }
  h5 {
    font-weight: 500;
    margin-bottom: 34px;
  }
}

.single-thumb {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.tags-article {
  background-color: var(--red);
  width: fit-content;
  padding: 0px 10px 3px 5px;
  color: white;
  display: inline-block;

  &::hover {
    opacity: 0.7;
  }

  a {
    color: white;
    &::hover {
      color: white;
    }
  }

  p {
    display: inline;
    padding-left: 5px;
    text-transform: lowercase;

    &:after {
      content: "|";
      display: inline-block;
      color: white;
      padding-left: 10px;
    }

    &:last-of-type {
      padding-right: 0px;

      &:after {
        display: none;
      }
    }
  }
}

article {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-lato);
  }

  p {
    font-size: 18px;

    a {
      border-bottom: 2px solid var(--red);

      &:hover {
        color: var(--red) !important;
      }
    }
  }

  blockquote {
    margin-top: 40px;
    margin-bottom: 32px;
    position: relative;
    width: 85%;
    position: relative;
      &:before {
        content:" “ ";
        display: block;
        font-size: 52px;
        font-family: var(--font-lato);
        color: var(--red);
        position: absolute;
        top: -31px;
        left: -24px;
      }
  
      &:after {
        content:" ” ";
        display: block;
        font-size: 52px;
        font-family: var(--font-lato);
        color: var(--red);
        position: absolute;
        bottom: -49px;
        right: -23px;
      }

      p {
        margin-bottom: 0px;
        font-size: 18px;
        line-height: 26px;
      }

      span {
        margin-bottom: 0px;
        font-size: 18px;
        line-height: 26px;
      }
  }

  .author {
    p {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
}


blockquote {
  margin: 40px auto 22px;
}

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: 18px !important;
}

.wp-block-pullquote p {
  font-size: 28px;
  line-height: 34px !important;
}

.social-vert .social {
  a {
    display: block;
    margin-bottom: 9px;

    @media screen and (max-width: 1199px) {
      display: inline-block;
    }
  }
}

.social-center {
  text-align: center;
  p {
    font-size: 14px;
    color: var(--purple);
    font-weight: 500;
    line-height: 18px;
  }
}

.wrap-article {
  margin-top: 36px;
  margin-bottom: 130px;
  @media screen and (max-width: 1199px) {
    margin-bottom: 100px;
  }
}

.infos-article {
  position: relative;
  margin-top: 42px;
  .social-center {
    position: absolute;
    top: -6px;
    right: 0px;

    @media screen and (max-width: 1199px) {
      left: 0px;
      margin-top: 10px;
      top: auto;
      right: auto;
    }
  }
}

.img-leg {
  width: fit-content;
  margin: auto;
  .small {
    text-align: left;
  }
}