
html, body {
  font-family: var(--font-lato);
  color: $dark;
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
  &.overflow-hidden {
    overflow-y: hidden;
  }
}

// html {
//   margin: 0px !important;
// }

a {
  cursor: pointer;
}

strong, b {
  font-weight: 600 !important;
}

body {
  a, a:hover {
    color: unset;
    text-decoration: none;
  }
  font-family: var(--font-lato);
}

p {
  font-size: 18px; 
  font-family: var(--font-lato);
  &.subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  &.small {
    font-size:  14px; 
  }
  &.ex-small {
    font-size:  12px; 
  }
}

h1 {
  font-family: var(--font-oswald);
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 15px;
  @media screen and (max-width: 1199px) {
    font-size: 36px;
    line-height: 40px;
  }
  &.big {
    font-size: 50px; 
  }
  &.bigger {
    font-size: 60px;
  }
}
h2 {
  font-family: var(--font-oswald);
  font-size: 34px;
}
h3 {
  font-family: var(--font-oswald);
  font-size: 26px;
  @media screen and (max-width: 1199px) {
    font-size: 20px;
  }
}
h4 {
  font-family: var(--font-oswald);
  font-size: 22px;
}
h5 {
  font-family: var(--font-oswald);
  font-size: 24px;
  @media screen and (max-width: 1199px) {
    font-size: 18px;
  }
}
h6 {
  font-family: var(--font-oswald);
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  &.lato {
    font-family: var(--font-lato);
  }
}

span {
  font-size: 12px;
  &.big {
    font-size: 16px;
  }
}

ul {
  padding: 0px;
  list-style-type: none;
}

.p-top {
  padding-top: 260px;

  @media screen and (max-width: 989px) {
    padding-top: 90px;
  }
}

.bg-purple {
  background-color: var(--purple);
}

.facebook span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/facebook.svg) no-repeat center;
  mask: url(../images/facebook.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.twitter span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/twitter.svg) no-repeat center;
  mask: url(../images/twitter.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.instagram span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/instagram.svg) no-repeat center;
  mask: url(../images/instagram.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.whatsapp span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/whatsapp.svg) no-repeat center;
  mask: url(../images/whatsapp.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.telegram span {
  width: 16px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/telegram.svg) no-repeat center;
  mask: url(../images/telegram.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
}

.youtube span {
  width: 18px;
  height: 16px;
  background-color: var(--purple);
  -webkit-mask: url(../images/youtube.svg) no-repeat center;
  mask: url(../images/youtube.svg) no-repeat center;
  margin: auto;
  display: block;
  margin-right: 5px;
  border-radius: 4px;
}

.line-gradient {
  background: var(--linear-gradient);
  width: 100%;
  height: 2px;
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

.page-soon {
  overflow: hidden;
  .img-soon {
    width: 38%;
    margin-top: 110px;
    @media screen and (max-width: 1199px) {
      margin-top: 20%;
      width: 65%;
    }
  }
  p {
    color: #663399;
    font-size: 24px;
    font-weight: 700;
  }
  
  .text-right {
    margin-top: 80px;
    padding-right: 10%;
    @media screen and (max-width: 1199px) {
      margin-top: 80px;
      padding-right: 30px;
    }
  }
}

.wp-block-image figcaption {
  margin-top: 0px !important;
  font-size: 14px;
  margin-bottom: 1em;
}
