
.tags {
    .tag-name {
        background-color: var(--red);
        color: white;
        font-size: 18px;
        width: fit-content;
        padding: 3px 7px;
        text-transform: lowercase;
        font-family: var(--font-lato);
        margin-bottom: 38px;
        margin-top: 40px;
    }

    .name-categoria.tag{
        &:after {
            display: none;
        }
    }
}

.categories {
    .name-categoria.title{
        font-size: 26px;
        // margin-top: 40px;
    }

    .description-cat {
        margin-bottom: 48px;
    }
}

.analises {
    p.subtitle {
        margin-bottom: 5px;
    }
    p {
        font-size: 16px;
    }
}