footer {
  padding: 30px 0;
  background-color: var(--purple);
  color: #fff;
  .menu li {
    &.current-menu-item {
      a{
        font-weight: 200;
        border-bottom: 1px solid white;
      }
    }
    a{
      font-weight: 200;
    }
  }

  .logo {
    height: 80px;
    margin-bottom: 57px;
    display: block;
  }

  .facebook span, .instagram span, .twitter span, .whatsapp span, .telegram span {
    background-color: #fff;
  }

  .menu-footer {
    li a {
      color: #fff;
      font-family: var(--font-oswald);
      font-size: 16px;
    }
  }
}
