footer {
  padding: 30px 0;
  background-color: var(--purple);
  color: #fff;
  @media screen and (max-width: 1199px) {
    padding: 30px 0 15px;
  }
  .menu li {
    &.current-menu-item {
      a{
        font-weight: 200;
        border-bottom: 1px solid white;
      }
    }
    a{
      font-weight: 200;
    }
  }

  .logo {
    height: 80px;
    margin-bottom: 57px;
    display: block;
  }

  .facebook span, .instagram span, .twitter span, .whatsapp span, .telegram span, .youtube span {
    background-color: #fff;
  }

  .menu-footer {
    margin-bottom: 0px;

    li a {
      color: #fff;
      font-family: var(--font-oswald);
      font-size: 16px;
    }
  }

  p.small {
    @media screen and (max-width: 1199px) {
      margin-bottom: 0px;
    }
  }
}

.contato {
  color: #fff;
  font-family: var(--font-oswald);
  font-size: 16px;
}