.bg-grey {
    background-color: #DEDEDE
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-hero-slide {
    height: 365px;
}

.home {
    .carousel.hero-slide {
        .flickity-page-dots {
            bottom: 0px;
            left: 206px;
            li.dot {
                background: var(--red);
            }
        }
        .carousel-cell {
            width: 100%;
            height: 356px;
        }
        button {
            display: none;
        }
    }
}

.col-reg {
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

.box-reg {
    .img-reg-home {
        height: 129px;
        width: 100%;
    }
    .cat-reg {
        background-color: grey;
    }
}

.box-cats-home {
    .img-cats-home {
        height: 195px;
    }
}

.slide-video-home {
    height: 474px;
    width: 100%;
}

.slide-video {
    width: 100%;
}

.flickity-page-dots {
    li.dot {
        border-radius: 0px;
        width: 11px;
        height: 11px;
        margin-right: 10px;
        margin-left: 0px;
    }
}

.name-categoria {
    font-size: 14px;
}