.ico-instagram {
  background: url('../images/icons/ico-instagram.svg') no-repeat center / contain;
  height: 38px;
  width: 38px;
  display: block;
}

.ico-arrow {
  background: url('../images/icons/ico-arrow.svg') no-repeat center / contain;
  height: 18px;
  width: 26px;
  margin-left: 16px;
  display: inline-block;
  vertical-align: middle;
  transition: .4s;
}

.ico-submit {
  background: url('../images/icons/ico-submit.svg') no-repeat center / contain;
  height: 14px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
}




