.wrap-newsletter {
  margin-top: 64px;
  margin-bottom: 82px;

  input {
    width: 300px;
    border-radius: 0px;
    border: 0px solid var(--dark);
    border-bottom: 1px solid var(--purple);
    margin-bottom: 27px;
  }

  button {
    border: 0px;
    border-radius: 3px;
    background-color: var(--purple);
    color: white;
    padding: 4px 13px;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 49px;
  }

  .element-left {
    margin-top: 77px;
    
    &::after {
      content: "";
      display: block;
      background-image: url(../images/element-left.png);
      width: 175px;
      height: 175px;
      margin-top: -113px;
      margin-left: -81px;

      @media screen and (max-width: 1199px) {
        display: none;
        background-image: url(../images/element-left-sm.png);
      }
    }
  }

  .element-right {
    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-image: url(../images/element-right.png);
      width: 175px;
      height: 175px;
      float: right;
      margin-bottom: -92px;
      margin-right: -33px;

      @media screen and (max-width: 1199px) {
        display: none;
        background-image: url(../images/element-right-sm.png);
      }
    }
  }
}

.element-right {
  input {
    &.tnp-name,&.tnp-email {
      background: none !important;
      border-bottom: 1px solid var(--purple) !important;
      width: 85% !important;

      @media screen and (max-width: 1199px) {
        width: 100% !important;
      }
    }
  }

  form {
    margin-top: -30px;
  }

  .tnp-submit {
    border: 0px;
    border-radius: 3px;
    background-color: var(--purple) !important;
    color: white;
    padding: 4px 13px;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    margin-right: 52px !important;

    @media screen and (max-width: 1199px) {
      width: auto !important;
      margin-right: 0px !important;
    }
  }
}
