.relacionados {
    h3 {
        margin-bottom: 82px;
    }

    p.linha-fina {
        padding-left: 27px;
    }

    p.name-categoria::after {
        display: none;
    }

    .highlight {
        &::after {
            margin-top: 12px;
        }
    }
}

.card-relacionados {
    border-left: 11px solid var(--red);
    padding-left: 20px;
}

.wrap-card {
    @media screen and (max-width: 1199px) {
        margin-bottom: 36px;
    }
}