$dark: #333333;
$lightblue: rgba(145, 160, 190, 1);
$blue: rgba(20, 27, 77, 1);
$darkblue: rgba(35, 30, 50, 1);

$border-radius: 2px;


:root {
  --dark: #333;
  --white: #FFF;
  --purple: #663399;
  --red: #CC3333;
  --font-oswald: 'Oswald', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --linear-gradient: linear-gradient(to left , #663399, #CC3333);
}
  